<section class="about">
	
	<h3>About Myself</h3>

	<div class="face-lockup">
		
		<div class="face-img"></div>

		<div class="icon-pencil">{%  include icons/icon-pencil.html %}</div>
		<div class="icon-mouse">{%  include icons/icon-mouse.html %}</div>
		<div class="icon-browser">{%  include icons/icon-browser.html %}</div>
		<div class="icon-video">{%  include icons/icon-video.html %}</div>

	</div>

	<p>
		<strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Donec sodales ullamcorper viverra. Pellentesque venenatis consequat lobortis. Cras vestibulum lorem eu enim congue, sed dictum risus rhoncus. Nulla at mi a urna tincidunt pharetra. Nulla a elit id diam ultrices ultricies. Phasellus auctor ipsum nisi, non commodo ante consequat non. Vivamus dictum justo in augue faucibus, ac egestas ipsum lobortis. Praesent vestibulum tristique ipsum porttitor malesuada. Pellentesque in mollis elit. Aliquam varius fermentum lectus sed dictum.
	</p>

	<div class="skill-lockup">
	</div>


</section>